doctype html
html
  head
    meta(charset='utf-8')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    |     
    title Hello World
    |     
    link(rel='stylesheet', type='text/css', href='build/build.css')
    |     
    style(type='text/css').
      img {
      width: 300px;
      height: 300px;
      }
      p {
      center;
      }
  |   
  body
    article
      section
        h2 BRIA
        |         
        |         
        h4 Alfrideo Neizer
        |         
        |         
        h4 Bima Setio
        |         
        |         
        h4 Iin Rosa
        |         
        |         
        h4 Rizal Setiawan
      |       
      section
        h2 All About Ferrari
        img(src='images/gambar4.jpg')
    
      section
        h2 Sejarah Ferrari
        |         
        
        |         
        ul
          li  Ferrari adalah sebuah produsen mobil super dan mobil balap asal Italia.
        li Ferrari didirikan oleh Enzo Ferrari pada tahun 1929
        li Ferrari juga ikut serta dalam kompetisi Formula Satu. Salah satu pembalapnya yang terkenal adalah juara dunia tujuh kali asal Jerman, Michael Schumacher
        li Di Indonesia, Ferrari dimiliki oleh PT Citra Langgeng Otomotif.
      |       
      section
        h2 Perkembangan mobil ferrari
        center         
        p Mobil pertama yang memakai lencana Ferrari adalah 125 S, yang memulai debutnya pada tahun 1947. Dengan fitur mesin V12 yang dikelola 118 tenaga kuda dan kecepatan tertinggi 130 mph.
        img(src='images/gbr 4.jpg' width="100px" height="100px")
          
      |       
      section(data-bespoke-hash='named-route')
        h2 Perkembangan mobil ferrari       
        p Keberhasilan yang diraih 125 S menyebabkan lahirnya model lain yang disebut 166 S. Ini adalah model yang kemudian diubah menjadi Ferrari pertama grand touring (GT) mobil, Ferrari 166 Inter.kecepatan tertinggi 93 mph.
        img(src='images/gbr 5.jpg' width="100px" height="100px")
      |       
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Perkembangan mobil ferrari       
        p 195 Inter dikembangkan dengan mesin yang lebih kuat serta lebih mudah untuk dikendarai daripada versi sebelumnya. Degan dua tempat duduk serta memiliki tenaga 130 hp dan kecepatan tertinggi 112 mph.
        img(src='images/gbr 6.jpg' width="100px" height="100px")

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Perkembangan mobil ferrari       
        p Pada tahun 1951, 212 dan 342 Inter Amerika diresmikan. Model 342 America (pada foto) mempunyai 4 bangku dengan tenaga 200 hp dan penanganan yan halus. Ferrari juga meluncurkan 250 Europa dan 375 Amerika pada tahun 1953.
        img(src='images/gbr 7.jpg' width="100px" height="100px")

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Perkembangan mobil ferrari       
        p Pada tahun 1954 lahirlah Ferrari 250 GT Coupe, tapi itu dikalahkan oleh 250 GT Berlinetta dan 410 Superamerica pada tahun 1956. Tampilan baru yang radikal dari Berlinetta (foto) dikemas dengan daya 240 hp dan kecepatan tertinggi 157 mph.
        img(src='images/gbr 8.jpg' width="100px" height="100px")
      |       
      section
        h2.bullet Just the beginning...
        br
        |         
        ul
          li
            | Edit 
            a(href='http://jade-lang.com/') Jade
            |  markup in 
            em &apos;src/index.jade&apos;
          |           
          li
            | Edit 
            a(href='http://learnboost.github.io/stylus/') Stylus
            |  styles in 
            em &apos;src/styles/main.styl&apos;
          |           
          li
            | Edit JavaScript in 
            em &apos;src/scripts/main.js&apos;
        br
        |         
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish
    |     
    script(src='build/build.js')
