html
  head
    title BRIA
    | &#x9;
    style(type='text/css', href='build/build.css').
  body
    article
      section
        h2
          | BRIA
        h4
          | Alfrideo Neizer
        h4
          | Bima Setio
        h4 Iin Rosa
        h4 Rizal Setiawan
      | &#x9;
      section
        h2 All About Ferrari
        img(src='images/gambar4.jpg')
      section
        p
          | Ferrari adalah sebuah produsen mobil super dan mobil balap asal Italia
        p
          | Ferrari didirikan oleh Enzo Ferrari pada tahun 1929
        p
          | Ferrari juga ikut serta dalam kompetisi Formula Satu. Salah satu pembalapnya yang terkenal adalah juara dunia tujuh kali asal Jerman, Michael Schumacher.
          | Di Indonesia, Ferrari dimiliki oleh PT Citra Langgeng Otomotif.
    script(src='build/build.js')